.accountpage-component {

}
.paper-menu {
}
.account-header-info-wrapper {

}
.account-header-list {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  box-sizing:border-box;
}
.account-header-list li {
  height: 35px;
  line-height:35px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.account-header-list:first-child {
  border-right: 1px solid #eee;
}

.account-header-list li p{
  float: right;
  line-height: 35px;
  margin: 0;
}
