.postpage-component {

}
.post-title {
  font-size: 1.3rem;
  margin: 20px 15px;
}
.post-p {
  margin: 20px 15px;
}
.post-comment-text-wrapper {
  width: 80%;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.comment-input {
  width: 100px;
}
.comment-submit-btn {
  position: absolute;
  bottom: 40px;
  left: 220px;
}
